altgraph==0.17.3
async-timeout==4.0.3
certifi==2023.7.22
chardet==5.2.0
idna==3.4
importlib-metadata==6.8.0
macholib==1.16.2
modulegraph==0.19.5
mypy-extensions==1.0.0
packaging==23.1
py2app==0.28.5
pyinstaller-hooks-contrib==2023.8
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyproject_hooks==1.0.0
redis==5.0.0
requests==2.31.0
rumps==0.3.0
six==1.16.0
spotipy==2.22.1
tomli==2.0.1
typing_extensions==4.7.1
urllib3==2.0.7
zipp==3.16.2
